.seconday_card {
    border-radius: 4px;
    background: var(--sky-blue-2);
    padding: 0.80rem 0;
}
.secondary_card_inner {
    position: relative;
    display: flex;
    align-items: flex-start;
    gap: 0.80rem;
    border-radius: 4px;
    background: var(--white);
    text-align: center;
    padding: 0.72rem;
    margin: 0 auto;
}
.discount_tag{
    position: absolute;
    padding: .5rem 1rem;
    background: var(--bright-red);
    color: var(--white);
    font-size: 1.6rem;
    line-height: var(--size-800);
    font-weight: 400;
}
.card_dec {
    text-align: left;
   padding: 0.25rem 0;
}
.card_title {
    color: var(--black-1);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5rem;
}
.rating_in_text {
    color: var(--gray-1);
    font-family: var(--font-secondary);
    line-height: 1rem;
}
.rating_in_text::before {
    content: '(';
}
.rating_in_text::after {
    content: ')';
}
.secondary_card_footer {
    display: flex;
}

@media (min-width: 30em) {
    .seconday_card {
        max-width: 439px;
        width: 100%
    }
    .secondary_card_inner {
        max-width: 420px;
        width: 100%;
    }
    .secondary_card_footer {
        column-gap: 12.375rem;
    }
}
@media (min-width: 50em) {
    .secondary_card_warpper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .seconday_card {
        max-width: 457px;
        width: 100%
    }
    .secondary_card_inner {
        max-width: 438px;
        width: 100%;
    }
    .secondary_card_footer {
        column-gap: 12.375rem;
    }
}