.main_menu{
    background: var(--blue-1);
    padding: 1.25rem 0;
}
.nav_wrapper{
    gap: 2.9375rem;
}
.categories{
    position: relative;
    z-index: 1111;
    padding: 1.125rem 1rem;
    border-radius: 6px;
    width: 100%;
    background: var(--orange);
    transition: all ease-out .2s;
}
.categories:hover{
    cursor: pointer;
}
.catagroy_dropdown{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.nav_list{
    display: flex;
    gap: clamp(var(--size-800), 5vw, var(--size-700));
    font-weight: 500;
}
.menu_item{
    font-size: 1.6rem;
}
.nav_list a{
    color: var(--white);
    font-size: var(--size-600);
}
.catagory_title{
    color: var(--white);
    font-family: var(--font-secondary);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1rem;
}

@media (min-width: 50em){
    .nav_wrapper{
        display: flex;
        align-items: center;
        gap: 4.9375rem;
    }
    .categories{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 25.875rem;
    }
}