.product_details_wrapper{
    display: grid;
    grid-template-columns: minmax(500px, 1fr) 3fr;
    gap: 2rem;
}
.product_details_wrapper .swiper-slide{
    background: #e0e0e0;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    border: 1px solid red;
}
.product_details_wrapper .swiper-thumbs{
    margin-top: 3rem;
}
.product_details_wrapper .swiper-slide-thumb-active
.swiper {
    width: 100%;
    height: 100%;
}
.details_strike{
    font-size: 2.2rem;
    font-weight: 400;
}
.details_dec{
    padding: var(--size-800) 0;
    color: var(--black-2);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 18px;
}
.details_title{
    color: var(--black-2);
    font-size: 3.2rem;
    font-weight: 400;
    line-height: normal;
}
.details_rating svg{
    margin-right: .5rem;
}
.details_price{
    margin-top: 1.6rem;
    color: var(--gold);
    font-size: 2.2rem;
    font-weight: 400;
    line-height: normal;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}